# Sleeper
SLEEPER_LEAGUE_ID=1389725805805858816

# FantasyPros API (https://www.fantasypros.com/api-data/)
FANTASYPROS_API_KEY=your_key_here

# NFL season being drafted for
NFL_SEASON=2026

# Database
DATABASE_URL=sqlite:///./data/app.db
